section.contact {

	.contact-container {
		position: relative;
		top: 50px;
		display: flex;
		flex-direction: row;

		.contact-left-side {
			width: 50%;
			
			form {
				display: flex;
				flex-direction: column;
				align-items: left;
				margin-right: 20px;

				label {
					margin-left: 1.2px;
					padding: 5px 0;
					font-size: 110%;
					color: $green;
				}

				#contact-name,
				#contact-email,
				#contact-message {
					position: relative;
					width: 250px;
					border: 1px solid transparent;
					border-bottom: 1px solid $blue;
					background: transparent;
					border-radius: 3px;
					padding: 5px 0;
					transition: all 0.5s;

					&:focus {
						border: 1px solid $blue;
						background: white;
					}
				}

				#contact-name {

				}

				#contact-email {
					margin-bottom: 15px;
				}

				#message-label {
					position: relative;
					top: 40px;
				}

				#contact-message {
					width: 500px;
					padding: 5px 0;
					top: 45px;
					resize: none;
				}

				#contact-submit {
					position: relative;
					top: 30px;
					width: 75px;
					margin-top: 20px;
					padding: 5px 10px;
					line-height: 1.5;
					border-radius: 4px;
					background: $blue;
					color: white;
					transition: all 0.3s;

					&:hover {
						background: $green;
					}
				}
			}

			p {
				position: relative;
				top: 32px;
				// color: $green;
				// text-decoration: underline;
				font-size: 1.1em;
			}

			footer.big-footer {
				position: relative;
				top: 30px;
			}
		}

		.contact-right-side {
			position: relative;
			left: 9%;
			top: 50px;
			width: 50%;
			margin-right: 7px;
			opacity: 0;
			transition: opacity 0.5s 1.5s;

			&:before {
				content: '';
				position: absolute;
				left: -70px;
				top: -105px;
				width: 500px;
				height: 500px;
				border-radius: 100%;
				border-left: 2px solid $green;
				border-bottom: 2px solid $green;
				background-image: url('../img/contact/cover-rot.svg');
				background-size: 260%;
				background-position: 25% 25%;
			}

			.contact-more-info {
				position: relative;
				left: -15px;
				top: 10px;
				display: flex;
				flex-direction: column;

				a {
					position: relative;
					left: 25px;
					margin-bottom: 10px;
					width: 60px;
					cursor: default;
					// transition: all 1s;

					i {
						position: relative;
						width: 50px;
						height: 50px;
						border-radius: 25px;
						background: $blue;
						line-height: 50px;
						font-size: 1.8em;
						text-align: center;
						color: white;
						transition: transform 0.75s ease-in, opacity 1.5s;
					}

					[data-more="phone"]:after,
					[data-more="mail"]:after {
						position: absolute;
						left: 40px;
						top: 9px;
						font-size: 0.5em;
						color: white;
						height: 30px;
						line-height: 31px;
						padding: 0 10px;
						height: 30px;
						background: $blue;
						border-radius: 0 3px 3px 0;
						visibility: hidden;
						opacity: 0;
						transform: translateX(-400px);
						transition: opacity 0.75s, transform 0.3s;
					}

					[data-more="phone"]:after {
						content: '+381_65_420_5149';
					}

					[data-more="mail"]:after {
						content: 'luka4ostojic4@gmail.com';
					}
				}

				.phone {
					position: relative;
					left: -50px;
				}

				.mail {
					position: relative;
					left: -75px;
				}

				.phone:before,
				.mail:before {
						position: absolute;
						left: -120px;
						top: -130px;
						width: 300px;
						height: 300px;
						border-radius: 100%;
						content: '';
						z-index: -100;
						transition: all 1s ease-in;
					}

				a:hover {

					&:before {
						animation: contact-border-radius 1s;
					}

					i {
						transform: rotateZ(360deg) rotateX(360deg) translateX(50px);

						&:after {
							visibility: visible;
							opacity: 1;
							transform: translateX(0px);
						}
					}
				}

				.contact-right-icons {
					position: relative;
					left: -12px;
					top: 221px;
					display: flex;
					flex-direction: row;

					a {
						display: block;
						font-size: 1.8em;
						margin: 10px 15px;
						background: transparent;
						transition: all 0.3s;

						i {
							position: relative;
							width: 76px;
							height: 75px;
							border-radius: 100%;
							line-height: 77px;
							// box-shadow: 0px 20px 15px 0px rgba(0,0,0,0.75);
							transition: border-radius 0.3s, transform 0.75s;
						}
					}

					#github,
					#soundcloud {
						bottom: 40px;
					}

					a:hover {
						cursor: pointer;

						i {
							transform: rotateZ(360deg) rotateX(360deg) translateY(-100px) scale(1.2);
						}
					}
				}
			}
		}

		.right-side-show {
			opacity: 1;
		}
	}
}