@media screen and (max-width: 1024px) {

	section.header-navbar {

				nav {

					ul {

						li {
							width: 75px;
							height: 75px;

							a {
								font-size: 2em;
							}

							&:after {
								bottom: 23px;
							}
						}

						.navbar-plus {
							left: -52px;
							top: -5px;
							height: 69px;
							width: 59px;

							a {
								bottom: 47%;
							}
						}
					}
				}
			}

	.slide-container {
		
		.cube-mask {

// About Me

			section.about-me {

				.about-me-container {

					.about-me-images {

						.image-background {
							width: 300px;
							height: 300px;
						}

						ul.about-me-icons {
							display: none;
						}
					}
				}
			}

// What I Do

			section.what-i-do {

				.what-i-do-container {

					.what-i-do-images {

						.image-mask {
							width: 250px;
							height: 250px;

							img {
								margin-left: 13px;
								width: 45%;
								height: auto;
							}

							a {
								margin-left: -15px;
								font-size: 90%;
							}

							&:hover {

								a {
									margin-top: 50px;
								}
							}

							.hidden-tech {
								bottom: -75px;

								h3 {
									left: 95px;
								}

								#javascript {
									left: 55px;
								}

								p {
									font-size: 90%;
									width: 200px;
								}
							}
						}
					}

					.other-tools {
						bottom: 60px;
					}
				}
			}

// References

			section.references {

				.references-container {

					.references-image-container {

						.port-mask {

							span {
								font-size: 95%;
							}

							.port-mask-image {
								width: 250px;
								height: 250px;

								&:before, &:after {
									width: 250px;
									height: 250px;
								}

								a.button {
									width: 75px;
									height: 75px;
									line-height: 55px;
									bottom: -30px;
								}

								a.close-port {
									width: 75px;
									height: 75px;
									line-height: 75px;
									top: 25px;
								}

								p {
									font-size: 80%;
								}
							}

							.button-switch {

								a.close-port {
									top: 15px;
								}
							}
						}
					}
				}
			}

// Contact

			section.contact {

				.contact-container {

					.contact-left-side {

						form {

							#contact-message {
								width: 400px;
							}
						}
					}

					.contact-right-side {
						
						&:before {
							width: 0px;
							height: 0px;
						}

						.contact-more-info {
							top: 120px;
							left: -30px;

							a {

								i {
									width: 50px;
									height: 50px;
									line-height: 50px;
									font-size: 1.2em;
								}
							}

							#phone {
								position: relative;
								left: 0px;
							}

							#mail {
								position: relative;
								left: 0px;
							}

							.contact-right-icons {
								position: relative;
								left: -37px;
								top: 40px;

								a {

									i {
										width: 50px;
										height: 50px;
										line-height: 50px;
										font-size: 1.1em;
										text-align: center;
									}
								}

								a:hover {

									i {
										border-radius: 100%;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 775px) {

}