// w 1024 --------------------------------------------------------------------------------------------------------------------------------

@media screen and (max-width: 1024px) {

	section.header-navbar {

		header {

			.header-buttons {

				a {
					width: 115px;
					padding: 8px 10px;
					font-size: 90%;
				}
			}
		}

		nav {

			ul {

				li {
					width: 75px;
					height: 75px;

					a {
						font-size: 2em;
					}

					&:after {
						bottom: 23px;
					}
				}

				.navbar-plus {
					left: -52px;
					top: -5px;
					height: 69px;
					width: 59px;

					a {
						bottom: 47%;
					}
				}
			}
		}
	}

	.slide-container {
		
		.cube-mask {

// About Me

			section.about-me {

				.about-me-container {

					.about-me-images {

						.image-background {
							width: 300px;
							height: 300px;
						}

						ul.about-me-icons {
							display: none;
						}
					}
				}
			}

// What I Do

			section.what-i-do {

				.what-i-do-container {

					.what-i-do-images {

						.image-mask {
							width: 250px;
							height: 250px;

							&:after {
								display: none;
							}

							img {
								margin-left: 13px;
								width: 45%;
								height: auto;
							}

							a {
								margin-left: -15px;
								font-size: 90%;
							}

							&:hover {

								a {
									margin-top: 50px;
								}
							}

							.hidden-tech {
								bottom: -75px;

								h3 {
									left: 95px;
								}

								#javascript {
									left: 55px;
								}

								p {
									font-size: 90%;
									width: 200px;
								}
							}
						}
					}

					.other-tools {
						bottom: 60px;
					}
				}
			}

// References

			section.references {

				.references-container {
					background-image: none;

					.references-image-container {

						.port-mask {

							span {
								font-size: 95%;
							}

							.port-mask-image {
								width: 250px;
								height: 250px;

								&:before, &:after {
									width: 250px;
									height: 250px;
								}

								a.button {
									width: 75px;
									height: 75px;
									line-height: 55px;
									bottom: -30px;
								}

								a.close-port {
									width: 75px;
									height: 75px;
									line-height: 75px;
									top: 25px;
								}

								p {
									font-size: 80%;
								}
							}

							.image-1-left {
								animation: none;
							}

							.image-2-left {
								animation: none;
							}

							.image-resize {
								animation: none;
							}

							.button-switch {

								a.close-port {
									top: 25px;
								}
							}
						}
					}
				}
			}

// Contact

			section.contact {

				.contact-container {

					.contact-left-side {

						form {

							#contact-message {
								width: 400px;
							}
						}
					}

					.contact-right-side {
						top: 115px;
						
						&:before {
							width: 350px;
							height: 350px;
						}

						.contact-more-info {
							top: -30px;
							left: -70px;

							a {

								i {
									width: 50px;
									height: 50px;
									line-height: 50px;
									font-size: 1.2em;
								}
							}

							#phone {
								position: relative;
								left: 0px;
							}

							#mail {
								position: relative;
								left: -25px;
							}

							.contact-right-icons {
								position: relative;
								left: -60px;
								top: 35px;

								#codepen {
									position: relative;
									top: 16px;
									left: -33px;
								}

								#linkedin {
									position: relative;
									top: 61px;
									left: -74px;
								}

								#soundcloud {
									position: relative;
									top: 80px;
									left: -102px;
								}

								a:hover {

									i {
										border-radius: 100%;
										transform: rotateZ(0deg) rotateX(0deg) translateY(0px) scale(0.75);
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

// w 775 ---------------------------------------------------------------------------------------------------------------------------------

@media screen and (max-width: 775px) {

	body {
		overflow: visible;
		background-position: 0% -15%;

		section.bees,
		section.novo-hehe {
			display: none;
		}

		.site-wrapper {
			position: absolute;
			overflow: auto;

			section.header-navbar {

				header {
					background-position: 5% 30%;
					background-size: 300%;

					.header-buttons {

						a.button {
							display: none;
						}

						a.hidden-header-button {
							width: 100px;
							height: 38px;
							font-size: 80%;
							left: 4
							px;
						}	
					}

					.header-rotate-div {
						display: none;
					}

					.svg-circle {
						display: none;
					}

					.svg-circle-show {
						display: none;
					}
				}

				div.small-nav {
					position: fixed;
					top: 0px;
					left: 0px;
					display: block;
					width: 100%;
					height: 60px;
					background: rgba(256,256,256,0.9);
					z-index: 500;
					
					ul {
						display: flex;
						flex-direction: row;
						justify-content: space-around;
						line-height: 60px;

						li {

							a {
								color: $green;
								font-weight: 600;
							}
						}
					}
				}

				nav {
					display: none;
				}
			}

			.slide-container {
				margin-top: 0px;
				height: 3500px;
				opacity: 1;

				footer {
					display: flex;
					flex-direction: column;
					position: relative;
					top: 98%;
					height: 80px;
					background: $green;
					color: white;
					transform: translateZ(10px) translateY(-7px);

					.footer-up {
						margin: 0 20px;
						position: relative;
						left: 0px;
						top: 16px;
						display: flex;
						flex-direction: row;
						justify-content: space-around;

						.phone-and-mail {
							display: flex;
							flex-direction: column;
							justify-content: center;

							a {
								position: relative;
								color: white;
								line-height: 22px;
							}
						}

						.external-links {
							@include flex-center;
							
							a {
								color: white;
								margin: 0 12px;
								font-size: 1.4em;
							}
						}
					}

					.footer-down {
						position: relative;
						left: calc(50% - 100px);
						width: 200px;
						text-align: center;
					}
				}

				.cube-mask {
					@include flex-center;
					flex-direction: column;
					background: none;

					.sections {
						position: absolute;
						top: 50px;
						border-radius: 3%;
						box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.75);
						background: rgba(256,256,256,0.5);
					}

// About Me --------------------------------------------------------------------

					section.about-me {
						position: relative;
						transform: translateZ(0px) scale(1);

						.about-me-container {

							.about-me-text {
								width: 100%;
								margin-right: 36px;

								.show-hide {

									a:after {
										width: 0px;
									}

									.border-animation-minus {

										&:after {
											width: 0px;
										}
									}

									.border-animation-plus {

										&:after {
											width: 0px;
										}
									}
								}
							}

							.about-me-images {
								display: none;
							}
						}
					}

// What I Do --------------------------------------------------------------------

					section.what-i-do {
						position: relative;
						transform: translateZ(0px) rotateY(0deg) scale(1);

						.what-i-do-container {

							.what-i-do-images {

								.image-mask {
									margin: 0 -35px;

									img {
										left: 50px
									}

									&:hover {
										animation: none;

										a {
											display: none;
											transform: translateY(0px);
										}

										a:after, a:before {
											display: none;
											transform: translateX(0px);
										}

										img {
											transform: translateY(50px) rotateX(45deg);
										}
									}
								}
							}

							.other-tools {
								left: 0;
								width: 100%;
							}
						}
					}

// References --------------------------------------------------------------------

					section.references {
						position: relative;
						transform: translateY(0px) rotateX(0deg) scale(1);

						.references-container {
							background: none;
							top: -30px;

							.references-text {

								p {
									text-align: center;
									margin: 0 10px;
								}
							}

							.references-image-container {
								flex-direction: column;

								.port-mask {

									.port-mask-text {
										display: none;
										width: 100%;
									}

									.port-mask-image {
										bottom: 0px;
										width: 100vh;
										height: 200px;
										border-radius: 3px;
										margin: 10px;
										padding: 0 10px;
										box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);

										a.button {
											width: 120px;
											height: 50px;
											line-height: 29px;
											border-radius: 3px;
										}

										&:before, &:after {
										    width: 0px;
										    height: 0px;
										    border-bottom: none;
										}

										p {
											opacity: 1;
											transform: translateY(30px) scale(1.2);
										}
									}

									.p1 {

										&:before, &:after {
										    border-left: none;
										}
									}

									.p2 {

										&:before, &:after {
										    border-left: none;
										}
									}

									.p3 {

										&:before, &:after {
										    border-left: none;
										}
									}
								}
							}
						}
					}

// Contact --------------------------------------------------------------------

					section.contact {
						position: relative;
						transform: translateX(0px) translateY(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(1);

						.contact-container {

							.contact-left-side {
								width: 100%;

								form {
									margin-right: 5px;

									#contact-name,
									#contact-email,
									#contact-message {
										width: 100%;
									}
								}
							}

							.contact-right-side {
								display: none;
							}
						}
					}
				}
			}
		}

		.overflow-visible {
			overflow: visible;
		}
	}
}

// w 450 ---------------------------------------------------------------------------------------------------------------------------------

@media screen and (max-width: 450px) {

	body .site-wrapper .slide-container {
		height: 3700px;

		footer {

			.footer-up {
				top: 16px;

				.phone-and-mail {

					a {
						line-height: 22px;
						font-size: 75%;
					}
				}
			}
		}

		.cube-mask {

			section.what-i-do {

				.what-i-do-container {

					.what-i-do-images {

						.image-mask {
							right: 3%;
							width: 200px;
							height: 200px;
							margin: 0px -60px;

							&:hover {

								img {
									transform: translateY(0px) rotateX(0deg);
								}
							}
						}
					}
				}
			}
		}
	}
}

// h 810 ---------------------------------------------------------------------------------------------------------------------------------

@media screen and (min-height: 810px) {
	.navbar-plus {
		visibility: hidden;
	}
}

// h 500 ---------------------------------------------------------------------------------------------------------------------------------

@media screen and (max-height: 500px) {

	section.header-navbar {

		header {
			background: none;
		}
	}

}