// Variables

$text-color: #4B5767;

$back-color: white;

$blue: #0C73B8;

$green: #109F94;

$dark-green: #01876A;

$white-ish: #E4EAEA;

$orange: #FFA500;

$red: #E55126;

// Mixins

@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

// Main

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

body {
	margin: 0;
	padding: 0;
	font-size: 97.5%;
	font-weight: 400;
	font-family: 'Source Sans Pro', sans-serif;
	overflow: hidden;
	background-image: url('../img/header/poza4.svg');
	background-size: 95%;
	background-position: 0% 25%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	transition: background-size 1.5s ease-in-out;

	.site-wrapper {
		width: 100%;
		color: $text-color;

		.slide-container {
			margin-top: 170px;
			overflow: hidden;
			transform-style: preserve-3D;
			perspective: 2000px;
			width: 100%;
			height: 800px;
			position: absolute;
			opacity: 0;
			transition: all 0.5s;

			.cube-mask {
				transform-style: preserve-3D;
				width: 100%;
				height: 100%;
				position: absolute;
				background-image: url('../img/slide-container/nemojajde.svg');
				background-size: 135%;
				background-position: 0% 20%;
				background-repeat: no-repeat;
				background-attachment: local;
				transition: transform 1.5s, background-position 1.25s ease-in-out;

				.sections {
					position: absolute;
					left: 0;
					width: 100%;
					height: 100%;
					margin-top: 40px;
					backface-visibility: hidden;
					transition: all 0.5s;

					.containers {
						margin: 25px 17px;
					}
				}

				.sections-transparent {
					background: transparent;
				}

				section.about-me {
					transform: translateZ(300px) scale(0.85);
				}

				section.what-i-do {
					transform: translateZ(-600px) rotateY(-180deg) scale(0.7);
				}

				section.references {
					transform: translateY(-600px) rotateX(90deg) scale(0.72);
				}

				section.contact {
					transform: translateX(644px) translateY(600px) rotateX(-90deg) rotateY(45deg) rotateZ(0deg) scale(0.55);
				}

				.sections-backface {
					backface-visibility: visible;
					user-select: none;
				}
			}

			footer {
				display: none;
			}

			.mask-rotate {
				transform: rotateY(360deg);
			}
		}

		.slide-container-overflow {
			overflow: visible;
			height: 150%;

			.sections {
				opacity: 0.75;
				z-index: -200;
			}
		}

		.slide-cont-back-size {
			animation: back-size 1.75s;
		}
	}

	.site-wrapper::-webkit-scrollbar {
		display: none;
	}

	.site-wrapper-3d {
		perspective: 2000px;
		transform-style: preserve-3D;

		section.header-navbar {
			transform: translateZ(1500px) scale(0.25);

			.navbar-ul li:nth-child(4) {
				transform: translateY(200px);
				left: -300px;
			}
		}
	}

	.site-wrapper-bees {
		perspective: 2000px;
		transform-style: preserve-3D;
		// animation: bees-header 10s;

		section.header-navbar {
			transform: rotateX(180deg);
			animation: bees-header 15s;
		}
	}
}

body::-webkit-scrollbar {
	display: none;
}

.body-overflow {
	overflow-y: visible;
}

a {
	text-decoration: none;
}

ul {
	margin: 0;
	padding: 0;

	li {
		list-style: none;
	}
}

.button {
	display: block;
	box-sizing: border-box;
	width: 150px;
	padding: 10px 15px;
	margin: 10px 15px;
	background: $blue;
	color: white;
	text-align: center;
	border-radius: 4px;
	z-index: 20;
	transition: all 0.3s;

	&:hover {
		box-shadow: 0px 50px 0px $green inset;
		color: white;
	}
}

// Imports

@import 'animations';

@import 'bees';

@import 'header-navbar';

@import 'about-me';

@import 'what-i-do';

@import 'references';

@import 'contact';

@import 'media';